extends layout

block content
  a.btn.btn-primary.right(href='/stats') data stats
  h3= title
  form.form-inline.form
    label Number of players: 
      input.form-control.number(type='number', value=2, max='9', min='2')
    p
      input.btn.btn-primary.submit(type='submit', value='play!')
  form(method='post')
    input#reset.btn.btn-primary(type='submit', value='reset')
  .result
  a.btn.btn-info#bottom(href='#winner') see winner
  .game
  #winner
  a.btn.btn-info#backTop(href='#top') back to top
  
