extends layout

block content
  h1= title
  form.form
    label Number of players: 
      input.number(type='number')
    input.submit(type='submit', value='play!')
  form(method='post')
    input.reset(type='submit', value='reset')
  .result
  a.bottom(href='#winner') see winner
  .game
  #winner
  a.top(href='#top') back to top
  
