doctype html
html
  head
    title War!!
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body#top
    header
      h1.top War!!
    block content
  script(src='/javascripts/d3.min.js')
  script(src='/javascripts/liquid.js')
  script(src='/javascripts/client.js')
