extends layout

block content
  a.right(href='/') simulator
  h3= title
  form.form
    label Number of Two-Player Games:
      input.games(type='number', value=100, max='10000', min='10')
    input.analyze(type='submit', value='analyze!')
  form(action='/stats',method='post')
    input.reset(type='submit', value='reset')
  .result
  a.bottom(href='#winner') see winner
  .game
  a.top(href='#top') back to top
  
