body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  display: inline-block;
  font-size: 1000%;
}

.play, .info {
  display: inline-block;
}

.reset {
  display: none;
}

.top, .bottom {
  display: none;
}

.right {
  float: right;
}
