body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 20px;
}

a {
  color: #00B7FF;
}

header {
  margin-bottom: 2%;
}

.card {
  display: inline-block;
  font-size: 1000%;
}

.play, .info, svg, .graph1, .graph2, .graph, .gauges {
  display: inline-block;
}

.gauges {
  margin-right: 3%;
}

#reset {
  display: none;
}

#backTop, #bottom, .gif, .row, .graphs {
  display: none;
}

#backTop, #bottom {
  margin-left: 3%;
  margin-bottom: 2%;
}

.gif {
  margin: 100px;
}

.right {
  float: right;
}

.info {
  padding: 1%;
  font-size: 130%;
  font-weight: bold;
}

/*bargraphy*/

.bar {
  fill: #178BCA;
}

.bar:hover {
  fill: steelblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
